{{ $content := .Get "content" }}
{{ $link := .Get "link" }}
{{ $icon := .Get "icon" }}
{{ $style := .Get "style" | default "soft" }}
{{ $color := .Get "color" | default "gray" }}

<a href="{{ $link }}"
   class="inline-flex items-center gap-1 rounded-full px-2 py-1 text-sm font-medium bg-{{ $color }}-100 text-{{ $color }}-800 ring-1 ring-inset ring-{{ $color }}-300 hover:bg-{{ $color }}-200">
  {{ with $icon }}
    <svg data-lucide="{{ . }}" class="w-4 h-4"></svg>
  {{ end }}
  <span>{{ $content }}</span>
</a>

<script>
    if (window.lucide) {
      window.lucide.createIcons();
    }
  </script>
  